<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>384580850673-655rr8jdgqgfhp22qk00fk7de0u499hm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.384580850673-655rr8jdgqgfhp22qk00fk7de0u499hm</string>
	<key>API_KEY</key>
	<string>AIzaSyAXXRcd_seuzGnqOmZQdVDfMZiUtpnWa0c</string>
	<key>GCM_SENDER_ID</key>
	<string>384580850673</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.alexgozhulovsky.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios13-8cd88</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios13-8cd88.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:384580850673:ios:9f3733952f1e97e37daa50</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-ios13-8cd88.firebaseio.com</string>
</dict>
</plist>